:root {
  --orange: coral;
  --blue: steelblue;
  --teal: teal;
  --indianred: indianred;
  --purple: purple;
  --grey: grey;
  --burly: burlywood;
  --cade: cadetblue;
}

.history {
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(13, minmax(1rem, 4rem));
  grid-gap: 1vw;
  grid-auto-flow: row dense;
}

.history-item {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  background-color: steelblue;
}

.c1xr1 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: var(--orange);
}

.c1xr2 {
  grid-column: span 1;
  grid-row: span 2;
  background-color: var(--teal);
}

.c2xr1 {
  grid-column: span 2;
  grid-row: span 1;
  background-color: var(--indianred);
}

.c2xr2 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: var(--blue);
}

.c3xr1 {
  grid-column: span 3;
  grid-row: span 1;
  background-color: var(--purple);
}

.c3xr2 {
  grid-column: span 3;
  grid-row: span 2;
  background-color: var(--grey);
}
